@page "/booking"

<h1>Booking</h1>

Welcome Marstal massage chair booking system.

<div>
    <img style="max-width: 100%; max-height: 100%;" src="http://vqvportfolio.azurewebsites.net/Images/IMG_5408.JPG"/>
</div>

@code {

}
