@page "/"


<div style="border: 5px solid #fff">

    <div style="border-top: 5px solid #fff; border-bottom: 5px solid #fff">
        <div style="width:100%">
            <img src="http://chinahouse-marstal.dk/files/banner/forside.jpg" style="width:100%" border="0">
        </div>
    </div>

    <div style="background-color: #cdcdcd; padding: 20px">
        <div style="padding-bottom: 0px">
            <h1 class="Standard">Spis kinesisk i Marstal på Ærø...</h1>
            <h2 class="Standard">Kom ind og prøv de forskellige retter!</h2>
            <div class="Standard">Restaurant Chinahouse byder velkommen til en smagsfuld oplevelse, serveret i vore hyggelige lokaler i varme kinesiske farver og i ægte kinesisk stil.<br><br>Vi har et udvalg af à la carte retter, sammensatte menu’er og en aftenbuffet som hele familien kan nyde ad libitum.<br><br>Vi har også en dejlig overdækket terrasse, hvor man kan holde sig en rygepause.<br><br>Ring og bestil bord på telefon +45 40370311.<br><br>Åbningstider <br>Mandag til torsdag   Lukket<br>Fredag og lørdag fra 18.00 til ?<br>søndag lukket<br>December til marts lukker<br><br><br>please call if you'll arrive after 19.45<br><br><br><br>Smiley <a href="http://www.findsmiley.dk/da-DK/Searching/DetailsView.htm?virk=80301977" target="_blank">www.findsmiley.dk/da-DK/Searching/DetailsView.htm?virk=80301977</a></div>
        </div>
        <div style="clear: both"><img src="/admin/systemgfx/spacing.gif" width="1" height="1" alt=""></div>
        <div style="padding-bottom: 10px">
            <h2 class="Standard">Fredag og lørdag fra kl.18.00<br>Eksotisk buffet for hele familien...</h2>
            <div class="Standard">Som forret serverer vi dagens suppe og derefter kan du vælge mellem 10 eksotiske varme retter.<br><br><br><br>– spis alt hvad hjertet begærer for kr. 138,- pr. person (børn under 10 år til halv pris)<br></div>
        </div>
        <div style="clear: both"><img src="/admin/systemgfx/spacing.gif" width="1" height="1" alt=""></div>
        <div style="padding-bottom: 10px">
            <div style="float: left; padding: 5px 5px 0px 0px;">
                <img style="max-width: 100%; max-height: 100%;" src="http://chinahouse-marstal.dk/files/-%20buffet/img_8625.jpg" border="0">
            </div>
        </div>
        <div style="clear: both"><img src="/admin/systemgfx/spacing.gif" width="1" height="1" alt=""></div>
        <div style="clear: both"><img src="files/systemgfx/s.gif" width="1" height="1" alt=""></div>
    </div>

</div>

