@page "/menukort"
    <div style="background-color: #cdcdcd; padding: 20px">
        @*<div style="position: relative; top: -10px; float: left; background-color: #7a0101; padding: 5px 0 5px 0"><a class="TopMenu" style="padding: 5px 10px 5px 10px" onfocus="this.blur()" href="frokost.asp">:: Frokost</a></div>
        <div style="position: relative; top: -10px; float: left; background-color: #7a0101; padding: 5px 0 5px 0"><a class="TopMenu" style="padding: 5px 10px 5px 10px" onfocus="this.blur()" href="aften.asp">:: Aften</a></div>
        <div style="position: relative; top: -10px; float: left; background-color: #7a0101; padding: 5px 0 5px 0"><a class="TopMenuSelected" style="padding: 5px 10px 5px 10px" onfocus="this.blur()" href="buffet.asp">:: Buffet</a></div>*@
        <div style="clear: both"><img src="/admin/systemgfx/spacing.gif" width="1" height="1" alt=""></div>
        <div style="width: 100%;">
            <div style="padding-bottom: 0px">
                <h1 class="Standard">Eksotisk buffet for hele familien</h1>
                <h2 class="Standard">Stor kinesisk ta’ selv buffet hver fredag og lørdag fra kl. 18.00–21.00 – spis alt hvad hjertet begærer for kun kr. 138,- pr. person...</h2>
                <div class="Standard">Som forret serverer vi dagens suppe og derefter kan du vælge mellem 10 eksotiske varme retter<br><br>– spis alt hvad hjertet begærer for kr. 138,- pr. person (børn under 10 år til halv pris)<br><br></div>
            </div>
            <div style="float: left; padding: 5px 5px 0px 0px"><img src="http://chinahouse-marstal.dk/files/-%20buffet/img_8625.jpg" style="max-width: 100%; max-height: 100%;" border="0"></div>
        </div>
        <div style="clear: both"><img src="/admin/systemgfx/spacing.gif" width="1" height="1" alt=""></div>
        <div style="clear: both"><img src="files/systemgfx/s.gif" width="1" height="1" alt=""></div>
    </div>
@code {

}
